@import url("libs/bootstrap/bootstrap.min.css");
@import url("libs/bootstrap/bootstrap-responsive.min.css");
@import url("libs/codemirror/codemirror.css");

body{
    background-color: dimgrey;
}

.topBuffer{
    padding-top: 70px;
}
.bufferTop{
    margin-top: 10px;
}
.bufferLeft{
    margin-left: 1px;
}
.alert{
   position: absolute;
   width: 600px;
   top: 60px;
   left: 50%;
   margin-left: -300px;
}

#codeList input.edit {
    display: none;
}
#codeList .editing label{
    display: none;
}
#codeList .editing input.edit {
    display: inline;
}

.codeItems{

}

