<form class="form-inline">
    <input id="newModule" type="text" class="form-control" placeholder="Module Name">
    <button class="btn btn-default">Add</button>
</form>

<ul id="codeList" class="bufferTop  list-group"></ul>
<div id="editorWithButtons" class="hide">
    <div id="codeWindow" class="bufferTop"></div>
    <button id="save" class="btn bufferTop">Save</button>
    <button id="run" class="btn btn-success bufferTop">Run</button>
    <button id="stop" class="btn btn-danger bufferTop">Stop</button>
</div>